*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: black;
}
html{
    font-size: 2rem ;
}
h1, h2, h3{
    color: black;
}
header,
main,
footer{
    margin: 0 auto;
    max-width: 800px;
}

img{
    height: 100px;
    max-width: 100px;
}
header{
    padding: 2em 0;
}
header h1{
    font-size: 2em;
}
header span{
    font-size: 1.5;
}

nav{
    position: fixed;
    bottom:0;
    right:0;
    width: 100%;

    display: flex;
    flex-flow: center;
    justify-content: center;

    background: #333;
}

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color:grey;
}
nav a:hover{
background: lightgoldenrodyellow;
}
section{
    margin: 1em 0;

    padding-top: 0em;
    min-height: 20em;

}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0;
}